<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head"); -%>
  <body>
    <%- include("partials/header"); -%>
    <main>
      <section>
        <h2>Profile</h2>
        <p>Hello, <%= username %></p>
      </section>
    </main>
  </body>
</html>
